{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist </h2>

    <h4>
        {{request.user}}'s watchlist
    </h4>

    {% if watchlist.auctions.all %}
        <ul>
            {% for auction in watchlist.auctions.all %}
                <li>
                    <a href="{% url 'detail' auction.id %}">{{ auction.title }}</a>
                    <form action="{% url 'edit_watchlist' auction.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit">Remove</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Your watchlist is empty.</p>
    {% endif %}

{% endblock %}
